PORT=3000
NODE_ENV=development
MONGO_URI=your_mongodb_uri_here
JWT_SECRET=your_super_secret_random_string_here
JWT_EXPIRES_IN=1d

# Email configuration (Gmail)
EMAIL_SERVICE=gmail
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_google_app_password
EMAIL_FROM="Goede Shoes" <your_gmail_address@gmail.com>

MIDTRANS_SERVER_KEY=your_server_key_here
MIDTRANS_CLIENT_KEY=your_client_key_here
MIDTRANS_IS_PRODUCTION=false
